@import "tailwindcss";

@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0.6;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideOutTop {
  from {
    transform: translateY(0%);
    opacity: 1;
  }
  to {
    transform: translateY(-120%);
    opacity: 0.6;
  }
}

.nav-enter {
  animation: slideInTop 0.25s ease forwards;
}

.nav-exit {
  animation: slideOutTop 0.2s ease forwards;
}


@keyframes pop {
  0%, 100% { 
    transform: scale(1) rotate(0deg);
  }
  50% { 
    transform: scale(1.1) rotate(-8deg) translateY(-4px);
  }

}

.vote-pop {
  animation: pop 0.5s ease;
}